#datalab-drink-logo-background {
    /* clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%); */
    transform: skew(-26.5deg);
    background-color: blueviolet;
    background-size: cover;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -2.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 0.5rem;
}

#datalab-drink-logo {
    transform: skew(26.5deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 0.5rem;
    padding-left: 2.5rem;
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: rgba(255,255,255,0.4);
    z-index: 1000;
}

.nav-link-background {
    transform: skew(-26.5deg);
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    border: 0.25rem transparent solid;
}

.nav-link-background:hover {
    border: 0.25rem pink solid;
}


.nav-link {
    transform: skew(26.5deg);
    display: flex;
    align-items: center;
}